<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--防止页面可以被用户放大从而不会出现放大按钮-->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <!--禁止IOS将手机号和邮箱转为超链接-->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>Hello Vue</title>
</head>
<body>
<noscript>
    <strong>警告:该页面需要Javascript的支持才能完美体现应有的功能</strong>
</noscript>
<div id="app"></div>
</body>
</html>
